nav{
  display: flex;
  align-content: center;
}

ul{
  list-style-type: none;
}
li a{
  text-decoration: none;
  font-size: 30px;
  background: rgb(247, 247, 247);
}

.icon-edit{
  font-size: 30px;
  color: rgb(71, 107, 251);
}